.navigation {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	position: relative;

	.nav-links-container {
		display: flex;
		gap: 20px;
		align-items: center;

		.sign-out {
			cursor: pointer;
		}
	}
}
