.category-container {
	max-width: 1400px;

	.category-title {
		margin: 20px 0;
		font-size: 32px;
		text-align: center;
		text-transform: uppercase;
	}

	.products-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px 50px;
	}
}
