.checkout-item-container {
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid #bbbbbb;

	> div {
		display: flex;
		justify-content: center;
		margin: auto;
		flex: 1;
	}

	.image-container {
		img {
			width: 70%;
			object-fit: cover;
		}
	}

	.quantity {
		.quantity-button {
			cursor: pointer;
		}
		.text {
			margin: 0 10px;
		}
	}

	.remove-button-container {
		.remove-button {
			cursor: pointer;
		}
	}
}
