$main-color: #000000;
$sub-color: #777777;
$form-input-marginTop: 20px;

%shrinkLabel {
	font-size: 14px;
	font-weight: 600;
	line-height: $form-input-marginTop;
	color: $main-color;
	left: 0;
	top: 0;
}

.form-input-container {
	margin: 20px 0;
	position: relative;

	.form-input {
		width: 100%;
		margin-top: $form-input-marginTop;
		padding: 5px 0;
		font-size: 18px;
		color: $sub-color;
		border: none;
		outline: none;
		border-bottom: 1px solid $sub-color;

		&[type='password'] {
			letter-spacing: 3px;
		}

		&:focus ~ .form-input-label {
			@extend %shrinkLabel;
		}

		&:not([value='']) ~ .form-input-label {
			@extend %shrinkLabel;
		}
	}

	.form-input-label {
		font-size: 18px;
		color: $sub-color;
		position: absolute;
		top: $form-input-marginTop;
		left: 0;
		pointer-events: none;
		transition: 0.2s;
	}
}
